{% extends '_base.twig' %}

{% block head %}
    <script src="assets/js/checks.js" defer></script>
{% endblock %}

{% block content %}

<div class="row clearfix">
    <div class="col-12">
        
        {% if is_root %}
            {% include 'tableRoot.twig' %}
        {% else %}
            {% include 'table.twig' %}
        {% endif %}
    
    </div>
</div>
{% endblock %}