{% extends '_base.twig' %}

{% block body %}
    <p class="lead mb-3"><strong>Oops</strong>,<br> forgot something?</p>
    <p>Type email to recover password.</p>
    <form class="form-auth-small" action="index.html">
        <div class="form-group">                                    
            <input type="email" class="form-control round" id="signup-password" placeholder="Email">
        </div>
        <button type="submit" class="btn btn-round btn-primary btn-lg btn-block">RESET PASSWORD</button>
        <div class="bottom">
            <span class="helper-text">Know your password? <a href="user/login">Login</a></span>
        </div>
    </form>
{% endblock %}
